<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gd.mapper.CartMapper">
    <resultMap id="cart" type="com.gd.pojo.Cart">
        <id column="cart_id" property="cartId" javaType="INTEGER"></id>
        <result column="ice_name" property="ice.iceName" javaType="STRING"></result>
        <result column="ice_price" property="ice.icePrice"></result>
        <result column="ice_images" property="ice.iceImages"></result>
        <result column="total" property="total"></result>
    </resultMap>


    <select id="selectCarts" resultMap="cart">
        select cart_id,ice_name,ice.ice_price,ice_images,cart.total from cart,ice
        where cart.ice_id = ice.ice_id
    </select>

    <insert id="addCart" parameterType="com.gd.pojo.Cart">
        insert into cart (ice_id,total) values (#{ice.iceId},#{total})
    </insert>

    <delete id="deleteCart" >
        delete from cart where `cart_id` = #{cartId}
    </delete>

    <delete id="deleteCarts" >
        delete from cart
    </delete>
    

</mapper>
