<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gd.mapper.IceMapper">
    <resultMap id="ice" type="com.gd.pojo.Ice">
        <result column="ice_id" property="iceId"/>
        <result column="ice_name" property="iceName"/>
        <result column="ice_variety" property="iceVariety"/>
        <result column="ice_price" property="icePrice"/>
        <result column="ice_data" property="iceData"/>
        <result column="ice_status" property="iceStatus"/>
        <result column="ice_images" property="iceImages"/>
    </resultMap>
    <resultMap id="iceItem" type="com.gd.pojo.Ice">
        <result column="ice_name" property="iceName"/>
        <result column="ice_variety" property="iceVariety"/>
        <result column="ice_price" property="icePrice"/>
        <result column="ice_data" property="iceData"/>
        <result column="ice_images" property="iceImages"/>
        <result column="ice_id" property="iceId"/>
    </resultMap>

    <select id="selectIce" resultMap="ice">
        select * from ice
    </select>

    <select id="selectIceById" resultMap="iceItem">
        select `ice_id`,`ice_name`,`ice_price`,`ice_data`,`ice_images`,`ice_status` from ice where ice_id = #{iceId}
    </select>

    <delete id="deleteIceById">
        delete from ice where ice_id=#{iceId}
    </delete>

    <insert id="addIce" parameterType="com.gd.pojo.Ice">
        insert into ice (`ice_name`,`ice_price`,`ice_status`,`ice_images`) values (#{iceName},#{icePrice},#{iceStatus},#{iceImages})
    </insert>

    <update id="updateIceById">
        update ice set `ice_name`= #{iceName},`ice_price`=#{icePrice},`ice_status`=#{iceStatus},`ice_images`=#{iceImages} where `ice_id`=#{iceId}
    </update>
</mapper>
